:root {
  --couleur-primaire: #9356dc; /* var(--couleur-primaire) */
  --couleur-secondaire: #ff79da; /* var(--couleur-secondaire) */
  --couleur-tertiaire: #99e2d0; /* var(--couleur-tertiaire) */

  --couleur-tertiaire-dark: #008766;
  --couleur-footer-bg: #353535;
}
