:root {
  --couleur-primaire: #9356dc;
  --couleur-secondaire: #ff79da;
  --couleur-tertiaire: #99e2d0;

  --couleur-tertiaire-dark: #008766;
  --couleur-footer-bg: #353535;

  /* COULEUR COEUR */
  --color-1: #e16fda; /* Coeur  00%  */
  --color-2: #e270da; /* Coeur  43%  */
  --color-3: #a55cdb; /* Coeur  70%  */
  --color-4: #ab65ed; /* Coeur 100%  */

  /*  COULEUR DE BOUTONS : HOVER (PLUS CLAIRE QUE PRIMAIRE/SECONDAIRE)  */
  --color-btn-top: #fc91de;
  --color-btn-bottom: #a872eb;
}
