footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px;
  background-color: var(--couleur-footer-bg);
  color: white;
  align-items: center;
}
/* ********** LOGO DU FOOTER ************ */
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
}

footer i {
  margin-right: 8px;
}
footer p {
  margin: 0 10px;
}
footer a {
  margin: 0;
  padding: 0;
}
footer p:nth-child(1) {
  margin-bottom: 15px !important;
}

footer p:hover {
  color: var(--couleur-secondaire);
  transition: all 300ms;
}
