/* ***** FONT TITRES/LOGO *********** */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* ******* FONT TEXTE ************ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* ************************** HEADER *********************** */

header p {
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 10px auto;
}

/* ************************** SECTION 01 **************** */

.section-01 {
  margin: 0;
  padding: 15px;
  background: var(--couleur-bg-zone);
}

.section-01 i {
  margin-right: 12px;
  font-size: 15px;
  font-weight: 700;
}
.section-01 p {
  color: #353535;
  text-align: center;
  margin: 0;
  font-weight: bold;
}

/* ****************************** SECTION 02 ************************ */

.section-02 {
  padding: 40px 0 20px 0;
  margin: 0;
  background-color: var(--couleur-bg-gris);
}

.section-02 h1 {
  margin: 0 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
}
.section-02__details {
  margin: 15px 20px 0 20px;
  text-align: center;
  font-weight: 100;
}
.section-02__btn {
  text-align: center;
  padding: 17px 30px;
  margin: 25px auto;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    var(--couleur-secondaire) 0%,
    var(--couleur-primaire) 100%
  );
  width: 250px;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.section-02__btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(
    180deg,
    var(--color-btn-top) 0%,
    var(--color-btn-bottom) 100%
  );
  transform: scale(1.04);
  transition: all 900ms;
}

/* ********************* SECTION 03 ************************ */

.section-03 {
  margin: 0;
  padding: 0;
}
.secion-03 h2 {
  text-align: center;
  margin: 40px 0 28px 0;
}
.secion-03__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 40px;
}

.secion-03__items--elements {
  position: relative;
  background-color: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 10px 60px;
  align-items: center;
  margin: 9px 10px;
}
.secion-03__items--elements i {
  margin-right: 20px;
  color: #7e7e7e;
  position: absolute;
  top: 40%;
  left: 30px;
}
.secion-03__items--elements p:nth-child(1) {
  text-align: center;
}

.num-item {
  background-color: var(--couleur-primaire);
  border-radius: 50%;
  padding: 3px 8px;
  color: white;
  position: absolute;
  top: 10%;
  left: -10px;
}

.secion-03__items--lien:hover i {
  color: var(--couleur-primaire);
}

.secion-03__items--lien:hover .secion-03__items--elements {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* *************************************************************
****************************** SECTION 04 **********************
**************************************************************** */

.section-04 {
  background-color: var(--couleur-bg-gris);
  margin: 0;
  padding: 0 0 60px 0;
}
.section-04 h2 {
  text-align: center;
  margin: 50px 0 15px 0;
  padding: 38px 0 10px 0;
}

.section-04__conteneur-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section-04__conteneur-items--item {
  position: relative;
  background-color: white;
  border-radius: 17px;
  padding: 0;
  margin: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* ************* Etiquette Nouveau Menu *************** */
.eithique-new {
  position: absolute;
  background-color: var(--couleur-tertiaire);
  padding: 6px 17px;
  color: var(--couleur-tertiaire-dark);
  top: 0px;
  right: 13px;
  border-radius: 3px;
}

.ancien {
  display: none;
}

.section-04__img {
  border-radius: 17px 17px 0 0;
  width: 500px;
  height: 200px;
  margin: 0;
  object-fit: cover;
}
.item-details {
  display: flex;
  justify-content: space-between;
}
.item-details__titre {
  margin: 15px 0 0 20px;
  font-weight: bold;
  padding: 0;
}
.item-details__sous-titre {
  margin: 5px 0 15px 20px;
  padding: 0;
}
.details-coeurs {
  margin: 15px 20px 0 0;
  position: relative;
}

.section-04__conteneur-items--item:hover {
  color: var(--couleur-primaire);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 300ms;
}

/* *****************************************************************************
********************************* EFFET DU SLIDE *******************************
****************************************************************************** */

.slide-top-01,
.slide-top-02,
.slide-top-03 {
  opacity: 0;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-top-02 {
  animation-delay: 200ms;
}
.slide-top-03 {
  animation-delay: 500ms;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/* **********************************************************
*********** RESPONSIVE DESIGN - MEDIA QUERIES ***************
************************************************************* */
@media screen and (max-width: 768px) {
  .secion-03__items {
    flex-direction: column;
  }
  footer {
    display: flex;
    justify-content: flex-start !important;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .section-04__conteneur-items {
    min-width: 250px !important;
    display: flex !important;
    flex: 1 !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;
  }
  .section-04__img {
    width: 100% !important;
    height: 150px !important;
  }
  .secion-03__items--elements {
    padding: 10px 45px !important ;
  }
  .secion-03__items {
    padding: 0 15px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-04__img {
    width: 320px !important;
    height: 150px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1100px) {
  .section-04__img {
    width: 450px !important;
    height: 200px !important;
  }
}
