/* ***** FONT TITRES/LOGO *********** */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* ******* FONT TEXTE ************ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


/* ************************** HEADER *********************** */

header p{
    font-family: 'Shrikhand', sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 10px auto;
}
